<% @name_spaces.each do |name_space| %>
<tr id="tr_<%= params[:business_identifier] %>_<%= name_space.identifier.blank? ? '_' : name_space.identifier %>" data-controller="tree_remote" data-tree_remote-target="item">
  <td>
    <turbo-frame>
      <span style="width: 1.43em; display: inline-block"></span>
      <%= link_to({ action: 'governs', business_identifier: @busyness.identifier, namespace_identifier: name_space.identifier }) do %>
        <i class="fas fa-fw fa-caret-right" style="cursor: pointer" data-action="click->tree_remote#expand"></i>
      <% end %>
      <span><%= name_space.name %></span>
    </turbo-frame>
  </td>
</tr>
<% end %>
