<tr id="tr_<%= busyness.identifier %>">
  <td>
    <%= link_to({ action: 'namespace', business_identifier: busyness.identifier }, remote: true) do %>
      <i class="fas fa-fw fa-caret-right" style="cursor: pointer"></i>
    <% end %>
    <span><%= busyness.name %></span>
  </td>
</tr>
