<% @name_spaces.each do |name_space| %>
<tr id="tr_<%= params[:business_identifier] %>_<%= name_space.identifier %>">
  <td>
    <span style="width: 1.43em; display: inline-block"></span>
    <%= link_to({ action: 'namespace', business_identifier: name_space.identifier }, remote: true) do %>
      <i class="fas fa-fw fa-caret-right" style="cursor: pointer"></i>
    <% end %>
    <span><%= name_space.name %></span>
  </td>
</tr>
<% end %>
