<% @governs.each do |govern| %>
<tr id="tr_<%= govern.identifier.split('/').join('_') %>" data-controller="tree_remote">
  <td>
    <span style="width: 2.86em; display: inline-block"></span>
    <%= link_to({ action: 'rules', controller_identifier: govern.identifier }) do %>
      <i class="fas fa-fw fa-caret-right" style="cursor: pointer" data-action="click->tree_remote#expand"></i>
    <% end %>
    <span><%= govern.name %></span>
  </td>
</tr>
<% end %>
