<% @rules.each do |rule| %>
<tr id="tr_<%= rule.identifier.split('/').join('_') %>" data-controller="tree_remote" data-tree_remote-target="item">
  <td>
    <span style="width: 4.29em; display: inline-block"></span>
    <span><%= rule.name %></span>
  </td>
</tr>
<% end %>
