<td>
  <%= link_to({ action: 'remove', business_identifier: @busyness.identifier }, remote: true) do %>
    <i class="fas fa-fw fa-caret-down" style="cursor: pointer"></i>
  <% end %>
  <span><%= @busyness.name %></span>
</td>
