<div class="columns">
  <div class="column is-narrow">
    <%= render 'nav_show' %>
  </div>
  <div class="column">
    <%= render layout: 'index_table', locals: { cache_key: Govern.column_names.hash } do %>
      <%= render partial: 'index_tbody', collection: @governs, as: :govern %>
    <% end %>
  </div>
</div>
