<div class="sixteen wide column">
	<div class="ui segment breadcrumb">
		<%= link_to 'Back', admin_governs_path, class: 'section' %>
		<i class="fas fa-angle-right divider"></i>
		<div class="active section">New</div>
	</div>

	<div class="ui segment">
		<%= form_with model: @rule, as: :rule, url: admin_govern_rule_path(@govern, @rule), local: true do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
		<% end %>
	</div>
</div>
