<% @rules.each do |rule| %>
<tr id="tr_<%= rule.identifier %>" data-controller="tree-remote" data-tree-remote-target="item">
  <td>
    <span style="width: 4.29em; display: inline-block"></span>
    <span><%= rule.name %></span>
  </td>
  <td></td>
</tr>
<% end %>
