<div class="sixteen wide column">
  <div class="ui breadcrumb">
    <%= link_to 'Back', admin_sections_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Edit</div>
  </div>

  <div class="ui segment">
    <%= default_form_for @section_taxon, as: :section_taxon, url: admin_section_taxon_path(@section_taxon, return_to: params[:return_to]) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>

