<div class="sixteen wide column">
	<div class="ui breadcrumb">
		<%= link_to 'Back', admin_governs_path, class: 'govern' %>
		<div class="divider"> / </div>
		<div class="active govern">Edit</div>
	</div>

	<div class="ui segment">
		<%= default_form_for @govern, as: :govern, url: admin_govern_path(@govern) do |f| %>
				<%= render partial: 'form', locals: { f: f } %>
		<% end %>
	</div>
</div>