<div class="sixteen wide column">
	<div class="ui segment breadcrumb">
		<%= link_to 'Back', admin_governs_path, class: 'section' %>
		<div class="divider"> / </div>
		<div class="active section">Add New</div>
	</div>

	<div class="ui segment">
		<%= form_with model: @govern, as: :govern, url: admin_governs_path, local: true do |f| %>
				<%= render partial: 'form', locals: { f: f } %>
		<% end %>
	</div>
</div>


