<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('serve.admin.services.index.title'), { controller: 'services' } %></li>
    <li><span class="px-3"><%= @service.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
