<div class="sixteen wide column">
  <%= render 'the_role_admin/base/nav_role' %>

  <div class="ui segment breadcrumb">
    <%# link_to 'Back', admin_whos_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Add New</div>
  </div>

  <div class="ui segment">
    <%= default_form_for @who, as: :who, url: admin_who_roles_path(params[:who_type], params[:who_id]) do |f| %>
      <%= f.collection_check_boxes :role_ids, Role.all, :id, :name, label: 'Contains:', css: { wrapper_input: 'nine wide field ui labels' } %>
      <%= f.submit 'Create' %>
    <% end %>
  </div>
</div>

