<div class="sixteen wide column">
  <div class="ui segment breadcrumb">
    <%= link_to 'Back', admin_roles_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Edit</div>
  </div>

  <div class="ui segment">
    <%= form_with model: @role, as: :role, url: admin_role_path(@role) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>