<aside class="menu">
  <% @govern_taxons.each do |sibling| %>
    <%= link_to filter_params(govern_taxon_id: sibling.id), class: active_helper(id: sibling.id, active: 'menu-label', item: 'menu-label') do %>
      <span><%= sibling.desc %></span>
    <% end %>
    <ul class="menu-list" class="<%= (sibling.child_ids + [sibling.id]).include?(params[:govern_taxon_id]) ? 'is-active' : '' %>">
    <% sibling.children.each do |child| %>
      <li><%= link_to child.desc, filter_params(govern_taxon_id: child.id), class: active_helper(active: 'is-active', id: child.id) %></li>
    <% end %>
    </ul>
  <% end %>
</aside>
