<div class="ui tabular menu">
  <%= link_to t('.roles'), admin_roles_path, class: active_helper(controllers: 'roles') %>
  <%= link_to t('.governs'), admin_governs_path, class: active_helper(controllers: 'governs') %>
</div>

