<div class="sixteen wide column">

  <%= render 'nav_role' %>

  <div class="ui top attached segment">
    <div class="item"><%= link_to '新建', new_admin_section_path, class: 'ui teal button' %></div>
  </div>
	<%= render 'sections' %>

</div>