<div class="sixteen wide column">

	<div class="ui top attached menu borderless">
		<%= render 'nav_role' %>
		<div class="right menu">
			<div class="item"><%= link_to '新建', new_admin_section_path, class: 'ui teal button' %></div>
		</div>
	</div>

	<%= render 'sections' %>

</div>