<tr>
  <td>
    <%= govern.name %> (<%= govern.code %>)
  </td>
  <td>
    <div class="tags">
    <% govern.rules.each do |rule| %>
      <% if @role.rule_ids.include?(rule.id) %>
        <div class="tag"><%= rule.desc_name %></div>
      <% end %>
    <% end %>
    </div>
  </td>
</tr>

