<% @rules.each do |rule| %>
<tr id="tr_<%= params[:controller_identifier].split('/').join('_') %>_<%= rule.identifier %>" data-controller="remote_tree">
  <td>
    <span style="width: 4.29em; display: inline-block"></span>
    <span><%= rule.name %></span>
  </td>
</tr>
<% end %>
