<tr id="tr_<%= busyness.identifier %>" data-controller="remote_tree show" data-action="mouseenter->show#show mouseleave->show#hide">
  <td>
    <%= link_to({ controller: 'governs', action: 'namespace', business_identifier: busyness.identifier }, remote: true) do %>
      <i class="fas fa-fw fa-caret-right" style="cursor: pointer" data-action="click->remote_tree#expand"></i>
    <% end %>
    <label class="checkbox">
      <%= check_box_tag 'role[rule_ids][]', 'admin', false, id: nil, data: { action: 'check#toggleAllName' } %>
    </label>
    <span><%= busyness.name %></span>
  </td>
</tr>
