<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<div class="ui bottom attached celled grid">
  <div class="twelve wide column">
    <%= render 'table' %>
  </div>
  <div class="four wide column">
    <%= render 'nav_show' %>
  </div>
</div>

