<p class="has-text-centered">
  <strong><%= serving.item.good.name %></strong>
</p>
<div class="has-text-centered">
<% unless serving.member %>
  <figure class="image">
    <%= image_tag serving.qrcode_enter_url %>
    <figcaption class="has-text-centered">出示二维码核销</figcaption>
  </figure>
<% end %>
</div>
<%= render partial: 'serving_preview', locals: { serving: serving } %>
<%= turbo_stream_from serving %>
