<div class="three wide column">
  <%= render 'nav_users' %>
</div>

<div class="thirteen wide column">
  <div class="ui breadcrumb">
    <%= link_to '返回', admin_roles_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">新建</div>
  </div>

  <div>
    <%= render 'form' %>
  </div>
</div>