<div class="sixteen wide column">

  <div class="ui top attached menu borderless">
    <%= render 'admin/base/nav_role' %>
    <div class="right menu">
      <div class="item"><%= link_to '新建', new_admin_role_path, class: 'ui teal button' %></div>
    </div>
  </div>

</div>

<div class="row">
  <div class="two wide column">
    <%= render 'sidebar' %>
  </div>
</div>