<div class="three wide column">
  <%= render 'admin/base/nav_role' %>
</div>

<div class="thirteen wide column">
  <div class="ui breadcrumb">
    <%= link_to '返回', admin_roles_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">新建</div>
  </div>

  <div class="ui segment">
    <%= default_form_for @role, as: :role, url: admin_roles_path do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>

