<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">
    <i class="fa-solid fa-user-ninja fa-fw"></i>
    <span><%= t('serve.me.title') %></span>
  </div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile is-flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
      <%= link_to({ controller: 'serve/me/servings' }, class: 'column has-block-centered') do %>
        <div class="has-text-grey-dark">
          <i class="fa-solid fa-user-ninja fa-fw fa-xl"></i>
        </div>
        <div class="has-text-dark"><%= t('serve.me.servings.index.title') %></div>
      <% end %>
    </div>
  </div>
</div>
