<tr>
  <td class="has-text-right"><%= Serve::Server.human_attribute_name(:name) %></td>
  <td><%= @server.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Serve::Server.human_attribute_name(:member_id) %></td>
  <td><%= @server.member_id %></td>
</tr>
