<div class="sixteen wide column">
  <div class="ui segment breadcrumb">
    <%= link_to 'Back', admin_governs_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Edit</div>
  </div>

  <div class="ui segment">
    <%= form_with model: @govern_taxon, as: :govern_taxon, url: admin_govern_taxon_path(@govern_taxon, return_to: params[:return_to]), local: true do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>

