<div class="ui modal" id="modal">
  <i class="fas fa-times close"></i>
  <div class="ui header">
    <%= t('.new') %>
  </div>

  <div class="content">
    <%= form_with model: @govern_taxon, url: admin_govern_taxons_path do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
