<% content_for :breadcrumb do %>
<div class="ui segment breadcrumb">
  <%= link_to t('role.admin.governs.index.title'), admin_governs_path, class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section">Add New</div>
</div>
<% end %>

<div class="ui segment">
  <%= form_with model: @govern_taxon, url: admin_govern_taxons_path(return_to: params[:return_to]) do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
